# Android
.gradle/
.idea/
build/
local.properties

# C / C++ / OBS
compile_commands.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.o
*.obj
*.so
*.dylib
build_x64/
.deps/

# Node
node_modules/
dist/
.npm/

# System
.DS_Store
Thumbs.db

